$color-primary: #326273;
$color-primary-light: #70919d;
$color-primary-dark: #234551;

$color-secondary: #5c9ead;
$color-secondary-light: #8dbbc6;
$color-secondary-dark: #406f79;

$color-tertiary: #e39774;
$color-tertiary-light: #ebb69e;
$color-tertiary-dark: #9f6a51;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #999;
$color-gray-dark-2: #777;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONTS
$font-primary: "Work Sans", sans-serif;
$font-display: "Madimi One", sans-serif;
