.logo {
  @include flex-pos;

  gap: 1.5rem;

  &__img {
    height: 6rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;

    &--top {
      font-weight: 700;
    }

    &--top::after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background-color: $color-tertiary;
    }

    &--bottom {
    }
  }
}
